body {
    background-color: #ccc;
    margin-top:0px;
}

h2 {
    margin:0px;
    padding:0px;
}

h2 small {
    display:block;
}

q {
    font-weight:700;
}

#canvas {
    min-height:500px;
    overflow: scroll;
    background-color:#fff;
    padding: .5em;
}

#controls {
    margin: 1em;
    text-align: center;
}

#header {
    background-color: #fff;
    padding-top:2em;
    padding-bottom:1em;
}

#main {
    background-color: #fff;    
}

#map {
    height: 500px;
    width: 90%;
    border: 5px solid #000;
    margin-left:2em;
}

#search-results li {
    font-weight: 700;
}

#search-results small {
    font-weight: 200;
}

#search-results small:before {
    content: " ";
}

#search-wrapper {
    float:right !important:
    border:1px solid green;
}

.datetime {
    font-weight: 700;
}

.panel {
    border: 1px dotted red;
}

.place-details {
    margin:0px;
    padding:0px;
}

.place-details-item {
    list-style-type: none;
    margin:0px;
    padding:0px;
}

.place-details-key {
    font-weight: 700;
}

.place-details-key:after {
    content: " ";
}

.place-name {
    font-weight: 700;
}

.place-name:after {
    content: " ";
}

.remove {
    background-color: transparent;
    padding:0px;
    padding-left:1em;
    color: red;
    font-weight: 700;
}

.visited {
    color: green !important;
}

.visits-list {
    max-height: 500px;
    overflow: scroll;
    margin:0px;
    padding: 0px;
}

.visits-list-item {
    list-style-type: none;
    margin:0px;
    padding: 0px;    
    margin-bottom: 1em;
}

.visits-list-item small {
    display: block;
    color: #666;
    margin-top:.5em;
}

