body {
    background-color: #ccc;
    margin-top:0px;
}

button[disabled=disabled] {
    background-color:#fff !important;
    color: #ccc !important;
}

h2 {
    margin:0px;
    padding:0px;
}

h2 small {
    display:block;
}

q {
    font-weight:700;
}

#canvas {
    min-height:600px;
    overflow: scroll;
    background-color:#fff;
    padding: .5em;
}

#controls {
    margin: 1em;
    text-align: center;
}

#feedback {
    background-color: #fff;
    margin:.5em;
    font-size:small;
}

#header {
    background-color: #fff;
    padding-top:2em;
    padding-bottom:1em;
}

#main {
    background-color: #fff;    
}

#map {
    height: 500px;
    width: 90%;
    border: 5px solid #000;
    margin-left:2em;
}

#network-status {
    margin-right:1em;
    padding-top:.3em;
    font-size:1.5em;
    float:right;
}

.online:after {

    /*
      Unicode Character 'CLOUD' (U+2601)	
   */
    
    content: "☁️";
    color: #87ceeb !important;
}

.offline:after {
    
    /*
	Unicode Character 'COMBINING ENCLOSING CIRCLE BACKSLASH' (U+20E0)
	http://www.unicode.org/faq/char_combmark.html

	TO DO: how do I make this work as an actual combining character with ☁️  ?
   */
    
    content: "\20E0";
    color: #ff0000 !important;
}

.online:hover:after {
    content: "online";
}

.offline:hover:after {
    content: "offline";
}

#search-results li {
    font-weight: 700;
}

#search-results small {
    font-weight: 200;
}

#search-results small:before {
    content: " ";
}

#search-wrapper {
    float:right !important:
    border:1px solid green;
}

.address {
    font-size:small;
}

.address-full {
    display:block !important;
    font-style:italic !important;
}

.address-item:after {
    content: ",";
}

.address-item:last-child:after {
    content: "" !important;
}

.address-street {

}

.click-me:hover {
    color:blue;
    font-weight:700;
    cursor: pointer;
}

.control {
    color:#666;
    display: inline !important;
    margin-left:.5em;
    padding-top:.3em;
}

.control:hover {
    color: blue;
}

.dates {
    font-size: small;
}

.dates-item {
    padding-right: 0px !important;
    margin-right: 0px !important;    
}

.dates-item:after {
    content:" to ";
    font-style:italic;
}

.dates-item:last-child:after {
    content:"" !important;
}

.datetime {
    font-weight: 700;
}

.desires-list-item {
    list-style-type: none;
}

.desire-stats {
    font-size: small;
    display:inline;
}

.desire-stats-item {
}

.desire-stats-item:after {
}

.desire-stats-item-count {
    color:#666;
}

.desire-stats-item-count:before {
    content: "( ";
}

.desire-stats-item-count:after {
    content: " )";
}

.desire-stats-places {
    display:inline;
}

.desire-stats-places-item {
    word-break: break-all !important;
}

.desire-stats-places-item:after {
    content: " & ";
    color:#666;    
}

.desire-stats-places-item:last-child:after {
    content: "" !important;
}

.desire-wrapper-header-location {
    margin-top: .5em;
}

.desire-wrapper-header-location:before {
    content: "in ";
}

.feedback {

}

.feedback:before {
    content: "🎈  ";
    padding-right: 1em;
}

.feedback-debug:before {
    content: "⌨" !important;
}

.feedback-error:before {
    content: "🔥" !important;
}

.feedback-warning:before {
    content: "⚠" !important;
}

.hey-look {
    font-weight: 700;
}

.is-not-current {
    color: red !important;
    font-style:italic;
}

.is-not-current:after {
    content: " this place is no longer \"a thing\"";
}

.nearby-transit-stops-list-item {
    text-transform: lowercase;
}

.nearby-transit-stops-list-item:before {
    content: attr(data-served-by) " ";
    color: #ccc;
}

.object-list {
    margin: 0px;
    padding: 0px;
}

.object-list-item {
    list-style-type: none;
}

.object-table {
    
}

.object-table-cell {
    overflow: scroll;
    overflow-wrap: break-word;    
}

.object-value {
}

.panel {
    min-height:600px;
    max-height:600px;
    overflow: scroll;
}

.panel-right {
    border-bottom: 1px solid #000;
}

.place-details {
    margin:0px;
    padding:0px;
}

.place-details-item {
    list-style-type: none;
    margin:0px;
    padding:0px;
}

.place-details-key {
    font-weight: 700;
}

.place-details-key:after {
    content: " ";
}

.place-name {
    font-weight: 700;
}

.place-name:after {
    content: " ";
}

.placetype-count {
    font-weight: 700;
}

.placetype-desires {
    font-size: small;
    color: #666;
    margin-top:.5em;
    margin-left:.1em;
}

.placetype-desires:before {
    content: "you said ";
    font-style:italic;    
}

.placetype-desires li:after {
    content: " and ";
    font-style:italic;
}

.placetype-desires li:last-child:after {
    content: "";
}

.placetype-desires q {
    color: #000;
}

.placetype-list {
    max-height: 500px;
    overflow: scroll;
    margin:0px;
    padding: 0px;
}

.placetype-list-item {
    list-style-type: none;
    margin:0px;
    padding: 0px;    
    margin-bottom: 1em;
}

.placetype-list-item small {
    display: block;
    color: #666;
    margin-top:.5em;
}

.remove {
    background-color: transparent;
    padding:0px;
    padding-left:1em;
    color: red;
    font-weight: 700;
}

.visited {
    color: green !important;
}

.visits-list {
    max-height: 500px;
    overflow: scroll;
    margin:0px;
    padding: 0px;
}

.visits-list-item {
    list-style-type: none;
    margin:0px;
    padding: 0px;    
    margin-bottom: 1em;
}

.visits-list-item small {
    display: block;
    color: #666;
    margin-top:.5em;
}

