body {
    background-color: #ccc;
    margin-top:0px;
}

button[disabled=disabled] {
    background-color:#fff !important;
    color: #ccc !important;
}

h2 {
    margin:0px;
    padding:0px;
}

h2 small {
    display:block;
}

q {
    font-weight:700;
}

#canvas {
    min-height:600px;
    max-height:600px;    
    overflow: scroll;
    background-color:#fff;
    padding: .5em;
}

#controls {
    margin: 1em;
    text-align: center;
}

#feedback {
    background-color: #fff;
    margin:.5em;
    margin-left: 2em;
    font-size:small;
}

#footer {
    background-color:#fff;
    min-height:75px;
    max-height:75px;
    /*
    border-top:1px dashed #ededed;
    padding-top:1em;
    */
}

#footer-left {

}

#footer-right {

}
#header {
    background-color: #fff;
    padding-top:2em;
    padding-bottom:1em;
}

#main {
    background-color: #fff;    
}

#map {
    height: 500px;
    width: 90%;
    border: 5px solid #000;
    margin-left:2em;
}

#network-status {
    padding-top:.3em;
    font-size:1.5em;
    float:right;
}

.online:after {

    /*
      Unicode Character 'CLOUD' (U+2601)	
   */
    
    content: "☁️";
    color: #87ceeb !important;
}

.offline:after {
    
    /*
	Unicode Character 'COMBINING ENCLOSING CIRCLE BACKSLASH' (U+20E0)
	http://www.unicode.org/faq/char_combmark.html

	TO DO: how do I make this work as an actual combining character with ☁️  ?
   */
    
    content: "\20E0";
    color: #ff0000 !important;
}

.online:hover:after {
    content: "online";
}

.offline:hover:after {
    content: "offline";
}

#search-results li {
    font-weight: 700;
}

#search-results small {
    font-weight: 200;
}

#search-results small:before {
    content: " ";
}

#search-wrapper {
    float:right !important:
}

#status {
    margin-right: .5em;
}

#status-button {


}

.address {
    font-size:small;
}

.address-full {
    display:block !important;
    font-style:italic !important;
}

.address-item:after {
    content: ",";
}

.address-item:last-child:after {
    content: "" !important;
}

.address-street {

}

.calendar-group {

}

.click-me:hover {
    color:blue;
    font-weight:700;
    cursor: pointer;
}

.control {
    color:#666;
    display: inline !important;
    margin-left:.5em;
    padding-top:.3em;
}

.control:hover {
    color: blue;
}

.dates {
    font-size: small;
}

.dates-item {
    padding-right: 0px !important;
    margin-right: 0px !important;    
}

.dates-item:after {
    content:" to ";
    font-style:italic;
}

.dates-item:last-child:after {
    content:"" !important;
}

.datetime {
    font-weight: 700;
}

.feelings-list-item {
    list-style-type: none;
}

.feelings-stats {
    font-size: small;
    display:inline;
}

.feelings-stats-item {
}

.feelings-stats-item:after {
}

.feelings-stats-item-count {
    color:#666;
}

.feelings-stats-item-count:before {
    content: "( ";
}

.feelings-stats-item-count:after {
    content: " )";
}

.feelings-stats-places {
    display:inline;
}

.feelings-stats-places-item {
    word-break: break-all !important;
}

.feelings-stats-places-item:after {
    content: " & ";
    color:#666;    
}

.feelings-stats-places-item:last-child:after {
    content: "" !important;
}

.feelings-wrapper-header-location {
    margin-top: .5em;
}

.feelings-wrapper-header-location:before {
    content: "in ";
}

.feedback {

}

.feedback:before {
    content: "🎈  ";
    padding-right: 1em;
}

.feedback-debug:before {
    content: "⌨" !important;
}

.feedback-error:before {
    content: "🔥" !important;
}

.feedback-warning:before {
    content: "⚠" !important;
}

.form-group-calendar {
    width: 40% !important;
    float: left;        
}

.form-group-calendar-arrival {
    margin-right: 5%;
}

.form-group-calendar-departure {

}

.form-group-status {
    clear: left !important;
}

.form-group-trip {
    width: 85%;
}

.hey-look {
    font-weight: 700;
}

.is-not-current {
    color: red !important;
    font-style:italic;
}

.is-not-current:after {
    content: " this place is no longer \"a thing\"";
}

.map-feedback-list {
    font-size:small !important;
    text-align:center;
    color:#666;
}

.nearby-transit-stops-list-item {
    text-transform: lowercase;
}

.nearby-transit-stops-list-item:before {
    content: attr(data-served-by) " ";
    color: #ccc;
}

.object-list {
    margin: 0px;
    padding: 0px;
}

.object-list-item {
    list-style-type: none;
}

.object-table {
    
}

.object-table-cell {
    overflow: scroll;
    overflow-wrap: break-word;    
}

.object-value {
}

.panel {
    min-height:575px;
    max-height:575px;
    overflow: scroll;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;    
}

.panel-left {

}

.panel-right {
    min-height:500px !important;    
    max-height:500px !important;
    width:50%;
}

.col-md-6 {
}

.place-details {
    margin:0px;
    padding:0px;
}

.place-details-item {
    list-style-type: none;
    margin:0px;
    padding:0px;
}

.place-details-key {
    font-weight: 700;
}

.place-details-key:after {
    content: " ";
}

.place-name {
    font-weight: 700;
}

.place-name:after {
    content: " ";
}

.placetype-count {
    font-weight: 700;
}

.placetype-feelings {
    font-size: small;
    color: #666;
    margin-top:.5em;
    margin-left:.1em;
}

.placetype-feelings:before {
    content: "you said ";
    font-style:italic;    
}

.placetype-feelings li:after {
    content: " and ";
    font-style:italic;
}

.placetype-feelings li:last-child:after {
    content: "";
}

.placetype-feelings q {
    color: #000;
}

.placetype-list {
    max-height: 500px;
    overflow: scroll;
    margin:0px;
    padding: 0px;
}

.placetype-list-item {
    list-style-type: none;
    margin:0px;
    padding: 0px;    
    margin-bottom: 1em;
}

.placetype-list-item small {
    display: block;
    color: #666;
    margin-top:.5em;
}

.remove {
    background-color: transparent;
    padding:0px;
    padding-left:1em;
    color: red;
    font-weight: 700;
}

.spr-list {
    padding:0px;
    margin:0px;
}

.spr-list-item {
    list-style-type:none;
    margin-bottom:1em;
    padding:.5em;
    border: 1px solid #999;
}

.spr-wrapper {

}

.spr-addr {

}

.spr-dates {
    font-size:small;
}

.spr-details {
    font-size:small;
}

.spr-details-tags {
    font-style:italic;
}

.spr-edit {
    margin-top:.5em;
    margin-bottom:1em;    
}

.spr-edit-feelings {
    border-top: 1px dotted #ccc;
    margin-top: .5em;
    padding-top: .5em;
    text-align:right;    
}

.spr-edit-soundbox {
    border-top: 1px dotted #ccc;
    margin-top: .5em;
    padding-top: .5em;
    text-align:right;
}

.spr-name {

}

.spr-raw {
    overflow:scroll;
    margin-top:.5em;
    margin-bottom:.5em;
    display:none;
}

.spr-raw pre {
    font-size:11px !important;
}

.spr-status {
    font-size:small;
}

/* please reconcile with mapzen.whosonfirst.bookmarks.colours.js */

.spr-status-deprecated {
    background-color:#dc143c !important;
    color:#fff !important;
}

.spr-status-ceased {
    background-color:#ffa500 !important;
    color:#fff !important;
}

.spr-status-current {
    background-color: #8fd400 !important;
    color:#fff !important;    
}

.spr-status-superseded {
    background-color:#1e90ff !important;
    color:#fff !important;
}

.spr-status-unknown {
    background-color:#f0e68c !important;
    color:#fff !important;
}

.trips-list {
    padding: 0px;
    margin: 0px;
    
}

.trips-list-item {
    list-style-type: none;
    margin-bottom: 1em;
}

.trips-list-item-destination {

}

.trips-list-item-destination-all {
    font-size:small;
    margin-left: 1em;
}

.trips-list-item-meta {
    margin-top:.5em;
    font-size:small;
}

.trips-list-item-status {

}

.trips-list-item-status-confirmed {
    color: green;
}

.trips-list-item-dates {
}

.trips-list-item-notes {
    font-size:small;
    font-style:italic;
}

.visited {
    color: green !important;
}

.visits-list {
    max-height: 500px;
    overflow: scroll;
    margin:0px;
    padding: 0px;
}

.visits-list-item {
    list-style-type: none;
    margin:0px;
    padding: 0px;    
    margin-bottom: 1em;
}

.visits-list-item small {
    display: block;
    color: #666;
    margin-top:.5em;
}

